moon-photo {
  aspect-ratio: 1;
  border-radius: 50%;
  inline-size: 42.5%; // TODO: Comment about how value is determined.
  max-inline-size: 204px; // 480 SVG viewbox * inline-size
  overflow: hidden;
  position: relative;

  &[hemisphere='southern'] {
    transform: rotate(180deg);
  }

  img {
    position: absolute;
    transition: opacity var(--transition) ease;
  }

  img[data-loading] {
    opacity: 0;
  }

  img[frame='1'] {
    inset-block: 0 auto;
  }
}

// NOTE: Keep upper range value coordinated with JS.
@for $n from 2 through 26 {
  moon-photo img[frame='#{$n}'] {
    inset-block: ($n - 1) * -100% auto;
  }
}