moon-photo {
  aspect-ratio: 1;
  border-radius: 50%;
  inline-size: 42.5%; // TODO: Comment about how value is determined.
  max-inline-size: 204px; // = 480 SVG viewbox * inline-size
  overflow: hidden;

  &[hemisphere='southern'] {
    transform: rotate(180deg);
  }
}
