user-location
  display block

// ------------------------------
// Location container and form.
.location
.location__form
.location__input
  height location-height
  width 100%

.location
  margin 0 auto
  max-width location-max-width
  position relative

.location__form
.location__input
  position absolute

// ------------------------------
// Location text input.
.location__input
  align-items center
  background rgba(white, 0)
  border-radius (location-height / 2)
  color white
  display inline-flex
  font-size 1em
  padding 0 rem(32)
  text-align center
  text-overflow ellipsis
  transition background transition

  &:focus
    background rgba(white, .25)

  &:hover
    cursor pointer
    opacity .7

  &:focus:hover
    cursor text
    opacity 1

[no-touch] .location__input
  transition background transition, opacity transition

// ------------------------------
// All buttons and icons.
.location__button
  align-items center
  background 0
  border-radius 50%
  display inline-flex
  height button-size
  justify-content center
  overflow hidden
  padding 0
  position absolute
  top 0
  transition background transition
  width button-size

.icon > path
  transition fill transition

svg.icon
  transition background transition

// ------------------------------
// Reset button and icon.
.location__button--reset
  padding 2px
  right 0

.icon--reset
  border-radius 50%
  overflow hidden
  padding 2px
  width 16px

.icon--reset > path:first-child
  fill black

.location__input:focus ~ .location__button--reset
  & > .icon--reset
    background rgba(white, .7)

  &:hover > .icon--reset
  &:focus > .icon--reset
    background rgba(white, 1)

.location__button--submit
  visibility hidden

// ------------------------------
// Geolocation button and icon.
.location__button--geolocation
  left 0
  z-index 1

.location__button--geolocation[enabled]
  background rgba(white, 0)

  &:hover
  &:focus
    background rgba(white, .25)

.icon--location
  width 24px

.icon--location > path
  fill rgba(white, 0)

.location__button--geolocation[enabled] .icon--location > path:last-child
  fill rgba(white, 1)
