user-location {
  animation: slideInDown var(--transition-intro) ease;
  display: block;
  grid-area: location;
  max-inline-size: 20rem;
  place-self: center;
  position: relative;

  &,
  form,
  input {
    block-size: var(--input-size);
    inline-size: 100%;
  }

  form,
  input {
    position: absolute;
  }

  input {
    align-items: center;
    background-color: var(--background-1);
    border-radius: var(--input-size);
    color: white;
    display: inline-flex;
    font-size: 1em;
    padding-block: 0;
    padding-inline: 2rem;
    text-align: center;
    text-overflow: ellipsis;
    transition: background-color var(--transition);

    &:focus,
    &:hover {
      background-color: var(--background-2);
      cursor: pointer;
    }

    &:focus:hover {
      cursor: text;
    }
  }

  [no-touch] & input {
    transition: background-color var(--transition);
  }

  // General button styles.
  button {
    align-items: center;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 50%;
    display: inline-flex;
    inline-size: 2rem;
    inset: 0 auto;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transition: background-color var(--transition);
  }

  // Hide the submit button and capture the event on Enter/Go.
  [type='submit'] {
    visibility: hidden;
  }

  // Reset button and icon styles.
  [type='reset'] {
    inset-inline: auto 0;

    circle {
      fill: rgba(white, 0);
      transition: fill var(--transition);
    }

    path {
      fill: none;
      stroke: rgba(black, 0);
      stroke-linecap: round;
      stroke-width: 1;
      transition: stroke var(--transition);
    }
  }

  // Reset button states when input is focused.
  input:focus ~ [type='reset'] {
    circle {
      fill: var(--background-3);
    }

    path {
      stroke: rgba(black, .7);
    }

    &:focus circle,
    [no-touch] &:hover circle {
      fill: rgba(white, 1);
    }

    &:focus path,
    [no-touch] &:hover path {
      stroke: rgba(black, 1);
    }
  }

  [no-js] & {
    display: none;
  }
}
