user-location
  animation slideInDown transition-intro ease
  display block
  grid-area location
  max-width location-max-width
  place-self center
  position relative

  &
  form
  input
    height location-height
    width 100%

  form
  input
    position absolute

  input
    align-items center
    background rgba(white, .15)
    border-radius (location-height / 2)
    color white
    display inline-flex
    font-size 1em
    padding 0 rem(32)
    text-align center
    text-overflow ellipsis
    transition background transition

    &:focus
    &:hover
      background rgba(white, .25)
      cursor pointer

    &:focus:hover
      cursor text

    [no-touch] &
      transition background transition

  button
    align-items center
    background 0
    border-radius 50%
    display inline-flex
    height button-size
    justify-content center
    overflow hidden
    padding 0
    position absolute
    top 0
    transition background transition
    width button-size

  // Hide the submit button and capture the event on Enter/Go.
  button[type=submit]
    visibility hidden

  // Reset button and icon styles.
  button[type=reset]
    padding 2px
    right 0

    circle
      fill rgba(white, 0)
      transition fill transition

    path
      fill none
      stroke rgba(black, 0)
      stroke-linecap round
      stroke-width 1
      transition stroke transition

  // Reset button states when input is focused.
  input:focus ~ button[type=reset]
    circle
      fill rgba(white, .7)
    
    path
      stroke rgba(black, .7)

    &:focus
    [no-touch] &:hover
      circle
        fill rgba(white, 1)

      path
        stroke rgba(black, 1)

  // 'Find my location' button and icon styles.
  button[id=find]
    background rgba(white, 0)
    left 0
    z-index 1

    &:focus
    [no-touch] &:hover
      background rgba(white, .25)

    svg
      width 24px

    path:last-child
      fill rgba(white, 1)
