user-location {
  animation: slideInDown var(--transition-intro) ease;
  display: block;
  grid-area: location;
  place-self: center;

  form {
    background-color: var(--background-1);
    border-radius: var(--input-size);
    display: grid;
    grid: 'submit input reset' / 2rem 1fr 2rem;
    transition: background-color var(--transition);

    &:focus-within {
      background-color: var(--background-2);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--background-2);
      }
    }
  }

  input {
    background: none;
    color: white;
    cursor: text;
    font-size: 1em;
    grid-area: input;
    text-align: center;
  }

  // General button styles.
  button {
    align-items: center;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 50%;
    display: grid;
    inline-size: 2rem;
    inset: 0 auto;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    transition: background-color var(--transition);
  }

  // Hide the submit button and capture the event on Enter/Go.
  [type='submit'] {
    grid-area: submit;
    visibility: hidden;
  }

  // Reset button and icon styles.
  [type='reset'] {
    grid-area: reset;

    circle {
      fill: rgba(white, 0);
      transition: fill var(--transition);
    }

    path {
      fill: none;
      stroke: rgba(black, 0);
      stroke-linecap: round;
      stroke-width: 1;
      transition: stroke var(--transition);
    }
  }

  // Reset button states when input is focused.
  input:focus ~ [type='reset'] {
    circle {
      fill: var(--background-3);
    }

    path {
      stroke: rgba(black, .7);
    }

    &:focus circle {
      fill: rgba(white, 1);
    }

    &:focus path {
      stroke: rgba(black, 1);
    }

    @media (any-hover: hover) {
      &:hover circle {
        fill: rgba(white, 1);
      }

      &:hover path {
        stroke: rgba(black, 1);
      }
    }
  }
}
