chart-axes
  height 100%
  position absolute
  width 100%
  z-index 3

  .axis
    stroke black

  .tick
    stroke rgba(white, .7)

  // SVG chart 'rise' and 'set' time labels. Sizes scale with SVG, so value varies.
  .chart__label
    font-size em(13)