doctype html
html(lang="en-GB")
  head
    title Moon Phase
    meta(charset="utf-8")
    meta(name="description" content="Location-based moon phase, moonrise, moonset, sunrise, and sunset.")    
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
  body
    div.app
      div.loader
      header.header
        h1.header__title
          a.header__link(href="/" title="Today")
        user-location.location
      div.charts
        div.charts__frame
          chart-axes.chart
          donut-chart.chart(name="sun" color="#f8c537")
          donut-chart.chart(name="moon" color="#fff")
          moon-photo.photo
      moon-info.info
      prev-next.nav(direction="prev")
      prev-next.nav(direction="next")
      //- TODO: populate footer content with JS to avoid FOUC
      //- footer.footer
        //- p.copyright
        //-   span.copyright__years
        //-   a.copyright__owner(
        //-     href="https://gauslin.com",
        //-     title="Ben Gauslin’s Website",
        //-     target="_blank",
        //-     rel="noopener",
        //-   )
