/**
 * App variables.
 */
moon-app {
  --app-gap: 0 .5rem;
  --app-grid: '. phase .' 2fr '. illumination .' 1fr 'charts charts charts' '. date .' 1fr 'prev location next' 2fr / var(--controls-size) minmax(auto, var(--charts-max-size)) var(--controls-size);
  --background-0: #{rgba(white, 0)};
  --background-1: #{rgba(white, .15)};
  --background-2: #{rgba(white, .25)};
  --background-3: #{rgba(white, .7)};
  --chart-size: 14.5rem;
  --charts-max-size: 30rem;
  --controls-size: 2.75rem;
  --duration-intro: 1s;
  --fineprint: .75em;
  --moon-color: white;
  --sun-color: #f8c537;
  --transition: .3s;

  @media (min-width: 36rem) {
    & {
      --app-gap: 0;
      --app-grid: '. phase .' 2fr '. illumination .' 1fr 'prev charts next' '. date .' 1fr '. location .' 2fr / minmax(var(--controls-size), 1fr) minmax(var(--chart-size), var(--charts-max-size)) minmax(var(--controls-size), 1fr);
      --fineprint: .875em;
    }
  }
}

/**
 * App properties.
 */
moon-app {
  block-size: 100dvh;
  display: grid;
  gap: var(--app-gap);
  grid: var(--app-grid);
  inline-size: 100vw;
}

/**
 * SVG donut charts and photo.
 */
:is(moon-chart, moon-ticks, [id='photo']) {
  aspect-ratio: 1;  
  grid-area: charts;
  place-self: center;
}

/**
 * Current date link.
 */
[id='date'] {
  display: block;
  grid-area: date;
  padding-block: .5rem;
  padding-inline: 1rem;
  place-self: center;
  transition: color var(--transition), transform var(--transition);
  white-space: nowrap;

  &:link,
  &:visited {
    color: white;
  }

  &:focus-visible {
    color: rgba(white, .7);
  }

  &.touch {
    transform: scale(.8);
  }

  @media (any-hover: hover) {
    &:hover {
      color: rgba(white, .7);
    }

    &:active {
      transform: scale(.8);
    }
  }

  &[data-today] {
    font-variation-settings: 'wght' 600;
    pointer-events: none;
  }
}

/**
 * Text elements.
 */
[id='phase'],
[id='illumination'] {
  font-size: .875em;
}

[id='phase'] {
  color: white;
  grid-area: phase;
  place-self: end center;
}

[id='illumination'] {
  color: rgba(white, .7);
  grid-area: illumination;
  margin-block: .5rem 0;
  place-self: start center;
}

/**
 * Prev-next navigation buttons.
 */
[data-direction] {
  aspect-ratio: 1;
  background-color: var(--background-1);
  border-radius: var(--controls-size);
  display: grid;
  inline-size: var(--controls-size);
  place-content: center;
  place-self: center;
  transition: background-color var(--transition), transform var(--transition);

  &:focus-visible {
    background-color: var(--background-2);
  }

  &.touch {
    transform: scale(.8);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--background-2);
    }  

    &:active {
      transform: scale(.8);
    }
  }

  path {
    fill: none;
    stroke: white;
    stroke-width: 2;
  }

  svg {
    inline-size: 1.5rem;
    transition: transform var(--transition);
  }
}

[data-direction='prev'] {
  grid-area: prev;
}

[data-direction='next'] {
  grid-area: next;
}
