[intro] {
  :is(moon-chart, moon-ticks, [id='photo']) {
    animation: scaleIn var(--duration-intro) ease;
  }

  [id='photo'][data-hemisphere='southern'] {
    animation: scaleInFlipped var(--duration-intro) ease;
  }

  moon-location {
    animation: slideInUp var(--duration-intro) ease;
  }

  [id='date'] {
    animation: slideInUp var(--duration-intro) ease;
  }

  [id='phase'],
  [id='illumination'] {
    animation: slideInDown var(--duration-intro) ease;
  }

  [data-direction='prev'] {
    animation: slideInLeft var(--duration-intro) ease;
  }

  [data-direction='next'] {
    animation: slideInRight var(--duration-intro) ease;
  }
}

/**
 * Animations.
 */
@keyframes scaleIn {
  0%,
  50% {
    opacity: 0;
  }
  50% {
    transform: scale(2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleInFlipped {
  0%,
  50% {
    opacity: 0;
    transform: rotate(180deg) scale(2);
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  100% {
    opacity: 1;
    transform: rotate(180deg) scale(1);
  }
}


@keyframes slideInUp {
  0%,
  50% {
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInDown {
  0%,
  50% {
    opacity: 0;
  }
  50% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0%,
  50% {
    opacity: 0;
  }
  50% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInRight {
  0%,
  50% {
    opacity: 0;
  }
  50% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
  }
}
