.charts
  align-self center
  animation scaleIn transition-intro ease
  grid-area charts
  padding rem(8)

  [no-js] &
    display none

.charts__frame
  margin 0 auto
  max-width chart-max-width
  padding 0 0 100%
  position relative
