donut-chart {
  animation: scaleIn var(--transition-intro) ease;
  aspect-ratio: 1;
  grid-area: charts;
  inline-size: 100%;
  max-inline-size: var(--charts-max-size);
  place-self: center;

  text {
    font-size: .8125em;
  }

  &[name="sun"] circle {
    stroke: #f8c537;
  }

  &[name="sun"] text {
    fill: #f8c537;
  }

  &[name="moon"] circle {
    opacity: .5; // Blend moon arc with sun arc where they overlap.
    stroke: white;
  }

  &[name="moon"] text {
    fill: white;
  }
}
