donut-chart {
  block-size: 100%;
  inline-size: 100%;
  position: absolute;

  text {
    font-size: .8125em;
  }

  // Blend moon arc with sun arc where they overlap.
  &[name='moon'] circle {
    opacity: .5;
  }
}
