donut-chart {
  height: 100%;
  position: absolute;
  width: 100%;

  text {
    font-size: .8125em;
  }

  // Blend moon arc with sun arc where they overlap.
  &[name='moon'] circle {
    opacity: .5;
  }
}
