ticks-chart {
  inline-size: 100%;
  max-inline-size: var(--charts-max-size);

  svg {
    aspect-ratio: 1;
    inline-size: 100%;
  }

  [id='sweep-ticks'] line {
    stroke: black;
  }

  [id='minor-ticks'] line {
    stroke: rgba(white, .35);
  }

  [id='major-ticks'] line {
    stroke: rgba(white, .7);
  }
}