moon-charts
  align-self center
  animation scaleIn transition-intro ease
  display block
  grid-area charts
  max-width chart-max-width
  padding 0 0 100%
  position relative

  [no-js] &
    display none

  svg
    height 100%
    position absolute
    width 100%

  [id=axes] line
    stroke black

  [id=ticks] line
    stroke rgba(white, .7)
