// -----------------------------------------------------------------------------
// Webfonts.
// -----------------------------------------------------------------------------

@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

// -----------------------------------------------------------------------------
// HTML elements.
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: black;
  color: white;
  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 500;
  margin: 0;
  min-block-size: 100dvh;
  padding-block: 0 env(safe-area-inset-bottom);
}

// Disable UI while loading data.
body:has([data-loading]) {
  pointer-events: none;
}

body[no-js] {
  place-items: center;

  a {
    color: white;
    opacity: .5;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

a {
  outline: none;
  text-decoration: none;
}

input,
button {
  font-family: 'Avenir Variable', sans-serif;
  appearance: none;
  border: 0;
  cursor: pointer;
  outline: none;
}

figure {
  margin: 0;
}

img,
svg {
  block-size: auto;
  pointer-events: none;
  vertical-align: middle;
  inline-size: 100%;
}

[hidden] {
  display: none !important;
  pointer-events: none !important;
}

// -----------------------------------------------------------------------------
// Animations
// -----------------------------------------------------------------------------

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes scaleIn {
  0%, 50% {
    opacity: 0;
  }
  50% {
    transform: scale(2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInUp {
  0%, 50% {
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInDown {
  0%, 50% {
    opacity: 0;
  }
  50% {
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0%, 50% {
    opacity: 0;
  }
  50% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInRight {
  0%, 50% {
    opacity: 0;
  }
  50% {
    transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
  }
}
