@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

:root {
  --link-color: CornflowerBlue;
  --link-focus-color: DarkOrange;
  --link-visited-color: MediumPurple;
}

:where(*) {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  background-color: black;
  color: white;
  display: grid;
  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 500;
  margin: 0;
  min-block-size: 100dvh;
  padding-block: 0 env(safe-area-inset-bottom);
  place-content: center;

  // Disable UI while loading data.
  &:has([data-loading]) {
    pointer-events: none;
  }
}

:not(:defined) {
  display: none;
}

noscript {
  padding: 1.5em;
  text-align: center;
}

a {
  color: var(--link-color);
  outline: none;
  text-decoration: none;

  &:visited {
    color: var(--link-visited-color);
  }
  
  &:focus-visible,
  &:active {
    color: var(--link-focus-color);
  }
  
  @media (any-hover: hover) {
    & {
      transition: color var(--transition);
    }
  
    &:hover {
      color: var(--link-focus-color);
    }
  }
}

input,
button {
  appearance: none;
  border: 0;
  cursor: pointer;
  font-family: 'Avenir Variable', sans-serif;
  outline: none;
}

figure {
  margin: 0;
}

img,
svg {
  block-size: auto;
  inline-size: 100%;
  vertical-align: middle;
}

svg {
  pointer-events: none;
}

@keyframes scaleIn {
  0%,
  50% {
    opacity: 0;
  }
  50% {
    transform: scale(2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInUp {
  0%,
  50% {
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInDown {
  0%,
  50% {
    opacity: 0;
  }
  50% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0%,
  50% {
    opacity: 0;
  }
  50% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInRight {
  0%,
  50% {
    opacity: 0;
  }
  50% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
  }
}
