luna-chart {
  inline-size: 100%;
  max-inline-size: var(--charts-max-size);

  text {
    font-size: .8125em;
  }

  &[name='sun'] {
    circle {
      stroke: var(--sun-color);
    }

    text {
      fill: var(--sun-color);
    }
  }

  /* Blend moon arc with sun arc via opacity where they overlap. */
  &[name='moon'] {
    circle {
      opacity: .5;
      stroke: var(--moon-color);
    }

    text {
      fill: var(--moon-color);
    }
  }
}
