moon-location {
  display: block;
  grid-area: location;
  place-self: center;

  form {
    background-color: var(--background-1);
    border-radius: var(--controls-size);
    display: grid;
    grid: 'geo input reset' / var(--controls-size) 1fr var(--controls-size);
    transition: background-color var(--transition);

    &:focus-within {
      background-color: var(--background-2);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--background-2);
      }
    }
  }

  input {
    background: none;
    color: white;
    cursor: text;
    font-size: 1em;
    grid-area: input;
    inline-size: 100%;
    text-align: center;
  }

  // General button styles.
  button {
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 50%;
    display: grid;
    inline-size: 2.75rem;
    padding: 0;
    place-content: center;
    transition: background-color var(--transition);
  }

  // Hide the submit button and capture the event on Enter/Go.
  [type='submit'] {
    grid-area: 1 / 1 / -1 / -1;
    visibility: hidden;
  }

  // Reset button and icon styles.
  [type='reset'] {
    color: white;
    grid-area: reset;
    opacity: .7;
    transition: opacity var(--transition);

    &:focus {
      opacity: 1;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 1;
      }
    }

    svg {
      inline-size: 2rem;
    }

    circle {
      fill: currentColor;
    }

    path {
      fill: none;
      stroke: rgba(black, .7);
      stroke-linecap: round;
      stroke-width: 1;
    }
  }

  input:not(:focus) ~ [type='reset'] {
    opacity: 0;

    &:focus {
      opacity: 1;
    }
  }

  // Geolocation button.
  [id='geo'] {
    background-color: var(--background-0);
    color: white;
    grid-area: geo;
    opacity: .7;
    transition: background-color var(--transition), opacity var(--transition);
  
    &.touch,
    &:focus {
      background-color: var(--background-2);
      opacity: 1;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--background-2);
        opacity: 1;
      }
    }

    svg {
      inline-size: 2rem;
      padding: 2px;
    }

    circle,
    path {
      stroke: currentColor;
      stroke-width: 1.5;
    }

    circle {
      fill: currentColor;
    }

    path {
      fill: none;
    }
  }
}
