// -----------------------------------------------------------------------------
// Dimensions.

// Values below are coordinated with 'Chart' enum in 'js/modules/Constants.js'
chart = {
  margin: 44
  size: 320
  sweep-width: 72
}

chart-size-units = chart.size + (chart.margin * 2)

axis-label-size = rem(32)
button-size = rem(32)
chart-max-size = rem(480)
chart-size = rem(chart-size-units)
controls-size = rem(48)
location-height = rem(32)
location-max-width = rem(chart.size)
photo-size = chart.size - (chart.sweep-width * 2)
photo-width = (photo-size / chart-size-units) * 100%

// -----------------------------------------------------------------------------
// Transitions.

transition = .3s
transition-intro = 1s

// -----------------------------------------------------------------------------
// Breakpoints.

breakpoint = {
  small: 'screen and (min-width: %s)' % (chart-max-size + (controls-size * 2))
}
