// @mixin
// @param Color link
// @param Color visited
// @param Color hover
// @param Color active
link(link, visited, hover, active)
  &:link
    color link

  &:visited
    color visited

  &:active
  &:focus
    color active

  [no-touch] &
    &:hover
      color hover
