.app
  display grid
  grid-template-areas:
    'header'\
    'main'
  grid-template-rows auto 1fr
  min-height 100vh // fallback
  min-height calc(var(--vh, 1vh) * 100)

[no-js] .app
  grid-template-columns 1fr
  grid-template-rows auto 1fr auto

  @media breakpoint.small
    grid-template-rows 1fr 2fr 1fr
