body
  display grid
  grid-template-areas:
    '. info .'\
    'charts charts charts'\
    'charts charts charts'\
    'charts charts charts'\
    'prev date next'\
    '. location .'
  grid-template-columns controls-size minmax(auto, chart-max-size) controls-size
  grid-template-rows 2fr controls-size auto controls-size 1fr 1fr
  min-height calc(var(--vh, 1vh) * 100)
  overflow hidden
  padding-bottom env(safe-area-inset-bottom)

  @media breakpoint.small
    grid-template-areas:
      '. info .'\
      '. . .'\
      'prev charts next'\
      '. . .'\
      '. date .'\
      '. location .'
    grid-template-columns minmax(controls-size, 1fr) minmax(chart-size, chart-max-size) minmax(controls-size, 1fr)

// Disable UI while loading data.
body[loading] *
  pointer-events none

body[no-js]
  align-items center
  grid-template-columns 1fr !important
  grid-template-rows 1fr !important
  text-align center

  a
    color white
    opacity .5

    &:hover
    &:focus
      opacity 1
