body
  display grid
  grid-template-areas:
    '. info .'\
    'charts charts charts'\
    '. location .'\
    'prev date next'
  grid-template-columns controls-size 1fr controls-size
  grid-template-rows 1fr auto auto 1fr
  min-height calc(var(--vh, 1vh) * 100)
  padding-bottom env(safe-area-inset-bottom)

  @media breakpoint.small
    grid-template-areas:
      '. info .'\
      'prev charts next'\
      '. location .'\
      '. date .'
    grid-template-columns minmax(controls-size, 1fr) minmax(chart-size, chart-max-width) minmax(controls-size, 1fr)

// Disable UI while loading data.
body[loading] *
  pointer-events none

body[no-js]
  align-items center
  grid-template-columns 1fr !important
  grid-template-rows 1fr !important
  text-align center

  a
    color white
    opacity .5

    &:hover
    &:focus
      opacity 1
