footer
  align-items center
  align-self center
  color rgba(white, .5)
  display flex
  font-size var(--fineprint)
  grid-row 3
  height var(--footer-height)
  justify-content center
  padding 0 0 env(safe-area-inset-bottom)

  a
    link(rgba(white, .5), rgba(white, .5), white, white)

    &:focus
    [no-touch] &:hover
      transition color transition
