footer
  align-items center
  align-self center
  color rgba(white, .5)
  display flex
  font-size var(--fineprint)
  grid-row 3
  height var(--footer-height)
  justify-content center
  padding 0 0 env(safe-area-inset-bottom)

  span
    margin-right em(8)

  a
    link(rgba(white, .5), rgba(white, .5), white, white)

    &:focus
    [no-touch] &:hover
      transition color transition

    &:not(:first-of-type)::before
      content '·'
      display inline-block
      text-align center
      width 1rem
