.header
  align-self center
  animation slideInDown transition-intro ease
  grid-row 1
  padding rem(8) rem(16)

.header__title
  font-size 1rem
  margin 0
  text-align center

.header__link
  link(white, white, rgba(white, .7), rgba(white, .7))
  display inline-block
  padding rem(8)
  transition transform transition
  white-space nowrap

.header__link:active
  transform scale(.8)

[no-touch] .header__link
  transition color transition, transform transition
