all-webfonts()

html
body
  webfont()
  background black
  color white
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  text-size-adjust none

*
  box-sizing border-box

a
  text-decoration none

a:focus
  outline none

input
button
  webfont()
  appearance none
  border 0
  outline none

input:focus
button:focus
  outline none

button:hover
  cursor pointer

figure
  margin 0

img
svg
  height auto
  pointer-events none
  vertical-align middle
  width 100%

[hidden]
  display none !important
  pointer-events none !important
