@font-face
  font-display swap
  font-family 'Avenir Variable'
  font-weight 1 999
  src url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2')

html
  height -webkit-fill-available

body
  background black
  color white
  font-family 'Avenir Variable', sans-serif
  font-variation-settings 'wght' 500
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  text-size-adjust none

*
  box-sizing border-box

a
  text-decoration none

a:focus
  outline none

input
button
  font-family 'Avenir Variable', sans-serif
  appearance none
  border 0
  outline none

input:focus
button:focus
  outline none

button:hover
  cursor pointer

figure
  margin 0

img
svg
  height auto
  pointer-events none
  vertical-align middle
  width 100%

[hidden]
  display none !important
  pointer-events none !important
