[no-js] .app
  display grid
  grid-template-columns 1fr
  grid-template-rows auto 1fr auto

  @media breakpoint.small
    grid-template-rows 1fr 2fr 1fr

[no-js] .progress-bar
[no-js] .charts
[no-js] .info
[no-js] .nav
  display none
