prev-next
  align-self center
  justify-self center

  &[direction=prev]
    animation slideInLeft transition-intro ease
    grid-area prev

  &[direction=next]
    animation slideInRight transition-intro ease
    grid-area next
    text-align right

  a
    align-items center
    display flex
    height controls-size
    justify-content center
    width controls-size

    &:active svg
      transform scale(.8)

    path
      stroke white

    &:active path
    [no-touch] &:hover path
      stroke rgba(white, .7)

  svg
    flex 0 0 rem(32)
    height auto
    transition transform transition

  path
    fill none
    stroke-width 4
    transition stroke transition

  [no-js] &
    display none
