prev-next {
  align-self: center;
  justify-self: center;

  &[direction='prev'] {
    animation: slideInLeft var(--transition-intro) ease;
    grid-area: prev;
  }

  &[direction='next'] {
    animation: slideInRight var(--transition-intro) ease;
    grid-area: next;
    text-align: end;
  }

  a {
    align-items: center;
    background: var(--background-1);
    border-radius: 50%;
    display: flex;
    height: 3rem; // TODO: var()
    justify-content: center;
    transition: background var(--transition), transform var(--transition);
    width: 3rem; // TODO: var()

    &:active {
      transform scale(.8);
    }

    &:focus,
    [no-touch] &:hover {
      background: var(--background-2);
    }
  }

  path {
    fill: none;
    stroke: white;
    stroke-width: 2;
  }

  svg {
    flex: 0 0 2rem;
    height: auto;
    transition: transform var(--transition);
  }

  [no-js] & {
    display: none;
  }
}
