prev-next {
  place-self: center;

  &[direction='prev'] {
    animation: slideInLeft var(--transition-intro) ease;
    grid-area: prev;
  }

  &[direction='next'] {
    animation: slideInRight var(--transition-intro) ease;
    grid-area: next;
  }

  a {
    aspect-ratio: 1;
    background-color: var(--background-1);
    border-radius: var(--controls-size);
    display: grid;
    inline-size: var(--controls-size);
    place-content: center;
    transition: background-color var(--transition), transform var(--transition);

    &:focus-visible {
      background-color: var(--background-2);
    }

    &.touch {
      transform: scale(.8);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--background-2);
      }  

      &:active {
        transform: scale(.8);
      }
    }
  }

  path {
    fill: none;
    stroke: white;
    stroke-width: 2;
  }

  svg {
    inline-size: 1.5rem;
    transition: transform var(--transition);
  }
}
