-
  const ARROW_LEFT = 'm21.08768,26.09236l-10.17537,-10.1165l10.12708,-10.06822';
  const ARROW_RIGHT = 'm10.91231,5.90764l10.17537,10.1165l-10.12708,10.06822';
  const path = direction === 'prev' ? ARROW_LEFT : ARROW_RIGHT;

a
  svg(
    viewBox="0 0 32 32"
    aria-hidden="true"
  )
    path(d=path)
