:root
  --site-header px_to_rem(16)
  --info-label px_to_em(14)
  --chart-label px_to_em(13)
  --fineprint px_to_em(12)

  --transition .3s
  --transition-intro 1s

  @media Breakpoint.SMALL
    --fineprint px_to_em(14)
