:root
  --footer-height rem(44)

  --site-header rem(16)
  --info-label em(14)
  --chart-label em(13)
  --fineprint em(12)

  --transition .3s
  --transition-intro 1s

  @media Breakpoint.SMALL
    --fineprint em(14)
    --footer-height rem(60)
