.footer
  align-items center
  color rgba(white, .5)
  display flex
  flex-direction column
  font-size var(--fineprint)
  grid-area footer
  height var(--footer-height)
  justify-content center
  padding 0 px_to_rem(16)
  text-align center

.footer > p
  padding 0

.footer a
  link(rgba(white, .5), rgba(white, .5), white, white)

[no-touch] .footer a
  transition var(--transition)

.copyright
  margin 0

.copyright__years
  margin-right px_to_em(8)
