.footer
  align-self center
  border-top .5px solid rgba(white, .5)
  color rgba(white, .5)
  grid-area footer
  padding px_to_rem(12) px_to_rem(16)

  @media Breakpoint.SMALL
    padding px_to_rem(16)

.copyright
  font-size var(--fineprint)
  margin 0
  padding 0
  text-align center

.copyright__years
  margin-right px_to_em(4)

.copyright__owner
  link(rgba(white, .7), rgba(white, .7), white, white)

[no-touch] .copyright__owner
  transition var(--transition)
