all_webfonts()

html
body
  webfont()
  background black
  color white
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  text-size-adjust none

body
  display grid
  grid-template-rows auto 1fr auto
  min-height 100vh // fallback
  min-height calc(var(--viewport-unit, 1vh) * 100)

  @media Breakpoint.SMALL
    grid-template-rows 1fr auto 1fr

*
  box-sizing border-box

// Disable UI while loading data.
body[loading] *
  pointer-events none

a
  text-decoration none

  &:focus
    outline none

input
button
  webfont()
  appearance none
  border 0
  outline none

  &:focus
    outline none

button:hover
  cursor pointer

figure
  margin 0

img
svg
  height auto
  pointer-events none
  vertical-align middle
  width 100%

[hidden]
  display none !important
  pointer-events none !important

// Font styles if current date is also today.
.today
  webfont_weight(600)
