.info
  align-self center
  animation slideInUp TRANSITION_INTRO ease
  font-size em(14)
  grid-area info
  padding rem(16) 0
  text-align center
  white-space nowrap

.info__phase
  color white

.info__percent
  color rgba(white, .7)
  margin-top rem(8)

.info__percent[invisible]
  visibility hidden