.nav
  align-self center
  justify-self center

.nav--prev
  animation slideInLeft TRANSITION_INTRO ease
  grid-area prev

.nav--next
  animation slideInRight TRANSITION_INTRO ease
  grid-area next
  text-align right

.nav__link
  align-items center
  display flex
  height CONTROLS_SIZE
  justify-content center
  width CONTROLS_SIZE

// SVG icons.
.nav__icon
  flex 0 0 rem(32)
  height auto
  transition transform TRANSITION

.nav__link:active .nav__icon
  transform scale(.8)

.nav__icon__path
  fill none
  stroke-width 4
  transition stroke TRANSITION

.nav__link:link .nav__icon__path
.nav__link:visited .nav__icon__path
  stroke white

.nav__link:active .nav__icon__path
[no-touch] .nav__link:hover .nav__icon__path
  stroke rgba(white, .7)
