[no-js] .app
  display grid
  grid-template-columns 1fr
  grid-template-rows auto 1fr auto

  @media breakpoint.small
    grid-template-rows 1fr 2fr 1fr

[no-js] .content
  align-items center
  grid-template-columns 1fr  !important
  grid-template-rows 1fr  !important
  text-align center

[no-js] .content a
  color white
  opacity .5

  &:hover
  &:focus
    opacity 1

[no-js] .progress-bar
[no-js] .charts
[no-js] .info
[no-js] .nav
  display none
