[no-js]
  display grid
  grid-template-columns 1fr
  grid-template-rows auto 1fr auto

[no-js] .content
  align-items center
  grid-template-columns 1fr
  grid-template-rows 1fr
  text-align center

[no-js] .content a
  color white
  opacity .5

  &:hover
  &:focus
    opacity 1

[no-js] .progress-bar
[no-js] .charts
[no-js] .info
[no-js] .nav
  display none
