moon-date
  animation slideInUp transition-intro ease
  display block
  grid-area date
  place-self center

  a
    link(white, white, rgba(white, .7), rgba(white, .7))
    padding rem(8) rem(16)
    transition transform transition
    white-space nowrap

    &:active
      transform scale(.8)

    [no-touch] &
      transition color transition, transform transition

  .today
    font-variation-settings 'wght' 600
    pointer-events none