moon-date
  align-self center
  animation slideInDown transition-intro ease
  display block
  grid-area date
  text-align center

  a
    link(white, white, rgba(white, .7), rgba(white, .7))
    padding rem(8) rem(16)
    transition transform transition
    white-space nowrap

    &:active
      transform scale(.8)

    [no-touch] &
      transition color transition, transform transition

.today
  webfont-weight(600)