moon-date {
  animation: slideInUp var(--transition-intro) ease;
  display: block;
  grid-area: date;
  place-self: center;

  a {
    padding-block: .5rem;
    padding-inline: 1rem;
    transition: transform var(--transition);
    white-space: nowrap;

    &:link,
    &:visited {
      color: white;
    }

    &:focus-visible {
      color: rgba(white, .7);
    }

    &:active {
      transform: scale(.8);
    }

    @media (any-hover: hover) {
      & {
        transition: color var(--transition), transform var(--transition);
      }

      &:hover {
        color: rgba(white, .7);
      }
    }
  }

  .today {
    font-variation-settings: 'wght' 600;
    pointer-events: none;
  }
}