moon-info
  align-self center
  animation slideInUp transition-intro ease
  font-size em(14)
  grid-area info
  padding rem(16) 0
  text-align center
  white-space nowrap

  [no-js] &
    display none

  [id=phase]
    color white

  [id=percent]
    color rgba(white, .7)
    margin-top rem(8)

  [id=percent][invisible]
    visibility hidden
