moon-info {
  align-self: end;
  animation: slideInDown var(--transition-intro) ease;
  display: block;
  font-size: .875em;
  grid-area: info;
  margin: 1rem;
  text-align: center;
  white-space: nowrap;

  [no-js] & {
    display: none;
  }

  [id='phase'] {
    color: white;
  }

  [id='percent'] {
    color: rgba(white, .7);
    margin-block: .5rem 0;
  }

  [id='percent'][invisible] {
    visibility: hidden;
  }
}
