moon-info {
  align-self: end;
  animation: slideInDown var(--transition-intro) ease;
  display: block;
  font-size: em(14);
  grid-area: info;
  margin: rem(16);
  text-align: center;
  white-space: nowrap;

  [no-js] & {
    display: none;
  }

  [id='phase'] {
    color: white;
  }

  [id='percent'] {
    color: rgba(white, .7);
    margin-top: rem(8);
  }

  [id='percent'][invisible] {
    visibility: hidden;
  }
}
